@import url(variables.css);
@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    
    position: relative;
    padding: var(--space-layout-padding-lr);
    height: 280px;
    overflow: hidden;
}
.background{
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: var(--color-5);
    object-fit: cover;
    border-radius: 100%;
    transform: translate(-17%, -65%);
    z-index: -1;
}
.imgRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}
.topLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-right: 15px;
}
#half{
    padding-left:15px ;
    font-size: 20px;
    color: var(--color-1);
    font-family: Bold;
}
#imgRight{
    filter: invert(1);
    display: flex;
    margin-left: 50%;
}
#imgLeft{ 
    background-color: var(--color-7); 
    border-radius: 50px;
}
.circle{
    position: absolute;
    background-color: var(--color-2);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: translate(50% ,5%);
    color: var(--color-4);
    font-family: Bold;
    font-size: 24px;
}
#money{
    font-size: 15px;
}
#money2{
    font-size: 24px;
}
.topArticle{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: var(--space-layout-padding-lr);

}
.halfArticle1 {
    grid-area: 1/1/2/2;
    background-color: var(--color-1);
    color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    border-radius: 80% 0;
}
.halfArticle2 {
    grid-area: 1/2/2/3;
    background-color: var(--color-4);
    color: var(--color-2);
    border: 2px solid var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    border-radius: 0 0 100% 100%;
}
.halfArticle3 {
    grid-area: 1/3/2/4;
    background-color: var(--color-4);
    color: var(--color-3);
    border: 2px solid var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    border-radius: 0 80%;
}
.Credit{
    background-color: var(--color-7);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: var(--space-layout-padding-lr);
    padding-bottom: 100px;
    padding-top: 30px;
}
.CreditRight h3{
    font-size: 20px;
    font-family: Bold;
    color: var(--color-1);
}
.CreditRight span{
    font-size: 15px;
    font-family: Regular;
    color: var(--color-3);
}









.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer_ul{ display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-1);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footer_ul a {
    display: flex;
}
.footer_ul a #img{
    object-fit: contain;
    filter: grayscale(100%) invert(100%);
}
