@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    overflow: hidden;
    padding: var(--space-layout-padding-lr);
}
.headerLeft{
    display: flex;
    align-items: center;
    gap: 8px;
}
.HeaderTop{
    padding: var(--space-layout-padding-lr);
}
.HeaderBottom{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    position: relative;
    border-radius: 45px;
    box-shadow: 0 0 32px var(--color-3);
    padding: 0 20px;
    overflow: hidden;
}
.pig{
    position: absolute;
    background-color: var(--color-7);
    border-radius: 100%;
    width: 400px;
    height: 400px;
    right: 58%;
    top: -50%;
}
.imgPig{
    position: relative;
    grid-area: 1/1/2/2;
}
.textRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    left: -150px;
}
.textRight h3{
    font-family: Bold;
    font-size: 21px;
}
.textRight span{
    font-family: Regular;
    font-size: 18px;
    color: var(--color-6);
}
#b1{
    position: absolute;
    background-color: var(--color-2);
    border-radius: 100%;
    border: none;
    color: var(--color-4);
    width: 25px;
    height:25px;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 14px;
    font-family: Bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#b2{
    background-color: var(--color-2);
    border: none;
    color: var(--color-4);
    height: 40px;
    width: 150px;
    border-radius: 50px 50px;
    font-size: 15px;
}