@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-image: url(../storage/img/Vectors.svg);
    object-fit: cover;
    background-color: var(--color-1);
    position: relative;
    padding: var(--space-layout-padding-lr);
    
}
.imgRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}
.topLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}
.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-right: 15px;
}
#half{
    

    padding-left:15px ;
    font-size: 20px;
    color: var(--color-4);
    font-family: Bold;
}
#imgRight{
    filter: invert(1);
    display: flex;
    margin-left: 50%;
}
.half{
    color: var(--color-4);    justify-content: space-between;

    padding-bottom: 15px;
}
.ContainerBottom{
    color: var(--color-4);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.left {
    display: flex;
    flex-direction: column;
    
}
.money{
    display: flex;
    align-items: center;
}
.money strong{
    font-size: 28px;
    font-family: Rotobo Bold;
}
.money span{
    font-size: 18px;
    font-family: Rotobo Medium;
}
.right {
    display: flex;
    flex-direction: column;

}
.article{
    border-radius: 50%;
    background-color: red;
}
.articleContainer{
    background-color: var(--color-5);
    border: none;
    border-radius: 20px 20px 0 0;
    background-color: red;
   
    padding: 20px;
    overflow-y: scroll;
}
.blockAccount{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
    width: 203.33px;
}
.blockHelp{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
}
.blockPrivacy{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-4);
}
.title{
    font-size:40;
    font-family: Bold;
}
.blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--space-layout-padding-lr);
}
.transactions{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: var(--space-layout-padding-lr);
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer_ul{ display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-1);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--color-4);
}
.footer_ul a {
    display: flex;
}
.footer_ul a img{
    object-fit: contain;
    filter: grayscale(100%) invert(100%);
}
.transactionsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}