:root{
    --color-1:#006400;
    --color-2:#002244;
    --color-3:#666666;
    --color-4:#FFFFFF;
    --color-5:#FFFF99;
    --color-6:#C0C0C0;
    --color-7:#FFD700;
    --space-layout-padding-lr: 0px 25px;
    --space-layout-padding-t: 5px; 
}
@font-face {
    font-family:Bold ;
    src: url(../storage/font/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: Heavy ;
    src: url(../storage/font/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family:Light ;
    src: url(../storage/font/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family:Medium;
    src: url(../storage/font/SF-Pro-Text-Medium.otf);
}
@font-face {
    font-family:Roboto Bold;
    src: url(../storage/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family:Roboto Medium;
    src: url(../storage/font/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family:Semibold;
    src: url(../storage/font/SF-Pro-Text-Semibold.otf);
}