:root{
    --color-1:#526B1B;
    --color-2:#EFEBFF;
    --color-3:#1E2B00;
    --color-4:#1E2B00;
    --color-5:#ffffff;
    --color-6:#C0C0C0;
    --color-7:#79FFF5;
    --space-layout-padding-lr: 0px 25px;
    --space-layout-padding-t: 5px; 
}
@font-face {
    font-family:Bold ;
    src: url(../storage/font/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: Heavy ;
    src: url(../storage/font/SF-Pro-Text-Heavy.otf);
}
@font-face {
    font-family:Light ;
    src: url(../storage/font/SF-Pro-Text-Light.otf);
}
@font-face {
    font-family:Medium;
    src: url(../storage/font/SF-Pro-Text-Medium.otf);
}
@font-face {
    font-family:Roboto Bold;
    src: url(../storage/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family:Roboto Medium;
    src: url(../storage/font/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family:Semibold;
    src: url(../storage/font/SF-Pro-Text-Semibold.otf);
}