<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <title>Pag3</title>
</head>
<body>
    <header class="header">
        <div class="background">
        </div>
        <div class="top">
            <div class="topLeft">
                <img id="imgLeft" src="../storage/img/Sin título-1.png" > 
                <span id="half">FINANCIAL STRENGTH</span>
            </div>
            <div class="imgRight">
                <img id="imgRight" src="../storage/img/name=icon,menu.svg">
            </div>
        </div>
        <div class="circle">
            <span>Total</span>
            <span>Balance</span>
            <span id="money">$<span id="money2">214,417</span></span>
        </div>
    </header>
    <article>
        <div class="topArticle">
            <section class="halfArticle1">
                Assets
            </section>
            <section class="halfArticle2">
                Debt
            </section>
            <section class="halfArticle3">
                Income
            </section>
        </div>
        <div class="graf" style="padding: 60px 0px ;">
            <img src="../storage/img/ganar_dinero.webp" style="filter: invert(1); width: 450px; ">
        </div>
        <div class="Credit">
            <div class="CreditLeft">
                <img src="../storage/img/checkout/Credit.svg">
            </div>
            <div class="CreditRight">
                <h3>Spending.</h3>
                <span>You forgot to add debt card number 
                    at payment #1323. Add it now.</span>
            </div>
        </div>
    </article>
    <footer class="footer">
        <ul class="footer_ul">
            <a href="../index.html">
                <img id="img" src="../storage/img/icon-graph.svg">
            </a>
            <a href="../views/detail.html">
                <img id="img" src="../storage/img/credit-card.svg">
            </a>
            <a href="checkout.html">
                <img  src="../storage/img/money-bag-svgrepo-seleccion.svg">
            </a>
        </ul>
    </footer>
</body>
</html>