<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <title>Pag2</title>
</head>
<body>
    <header>
        <div class="Header">
            <section class="headerLeft">
                <img src="../storage/img/Sin título-1.png">
                <span>FINANCIAL STRENGTH</span>
            </section>
            <section class="HeaderRight">
                <img src="../storage/img/name=icon,menu.svg">
            </section>
        </div>
        <div class="HeaderTop">
            <h3>Investing Tips</h3>
            <section class="HeaderBottom">
                <div class="pig">
                </div>
                    <div class="imgPig">
                        <img src="../storage/img/detail/ahorros.png" style="width: 150px;">
                    </div>
                <div class="textRight">
                    <button id="b1">x</button>
                    <h3>What is an ETF?</h3>
                    <span>By James B, PHD</span>
                    <button id="b2">LEARN MORE</button>
                </div>
            </section>
        </div>
    </header>
    <main class="main">
        <article>
            <header class="Header2">
                <h3>My Cards (4)</h3>
            </header>
            <section class="Container">
                <div class="ArticleCard">
                    <div class="Card1">
                        <div class="CardTop">
                            <img src="../storage/img/detail/chip.svg">
                            <span>**** 6175</span>
                        </div>
                        <div class="CardHalf">
                            <small>$<span>47,417</span> </small>
                        </div>
                        <div class="CardLogo">
                            <img src="../storage/img/detail/logoCard.svg">
                        </div>
                    </div>
                    <div class="Card2">
                        <div class="CardTop">
                            <img src="../storage/img/detail/chip.svg">
                            <span>**** 5789</span>
                        </div>
                        <div class="CardHalf">
                            <small>$<span>584,466</span> </small>
                        </div>
                        <div class="CardLogo">
                            <img src="../storage/img/detail/Visa.svg">
                        </div>
                    </div>
                    <div class="Card2">
                        <div class="CardTop">
                            <img src="../storage/img/detail/chip.svg">
                            <span>**** 5789</span>
                        </div>
                        <div class="CardHalf">
                            <small>$<span>584,466</span> </small>
                        </div>
                        <div class="CardLogo">
                            <img src="../storage/img/detail/Visa.svg">
                        </div>
                    </div>
                    <div class="Card1">
                        <div class="CardTop">
                            <img src="../storage/img/detail/chip.svg">
                            <span>**** 6175</span>
                        </div>
                        <div class="CardHalf">
                            <small>$<span>47,417</span> </small>
                        </div>
                        <div class="CardLogo">
                            <img src="../storage/img/detail/logoCard.svg">
                        </div>
                    </div>
                    <div class="Card1">
                        <div class="CardTop">
                            <img src="../storage/img/detail/chip.svg">
                            <span>**** 6175</span>
                        </div>
                        <div class="CardHalf">
                            <small>$<span>47,417</span> </small>
                        </div>
                        <div class="CardLogo">
                            <img src="../storage/img/detail/logoCard.svg">
                        </div>
                    </div>
                    <div class="Card1">
                        <div class="CardTop">
                            <img src="../storage/img/detail/chip.svg">
                            <span>**** 6175</span>
                        </div>
                        <div class="CardHalf">
                            <small>$<span>47,417</span> </small>
                        </div>
                        <div class="CardLogo">
                            <img src="../storage/img/detail/logoCard.svg">
                        </div>
                    </div>
                    <div class="Card1">
                        <div class="CardTop">
                            <img src="../storage/img/detail/chip.svg">
                            <span>**** 6175</span>
                        </div>
                        <div class="CardHalf">
                            <small>$<span>47,417</span> </small>
                        </div>
                        <div class="CardLogo">
                            <img src="../storage/img/detail/logoCard.svg">
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer class="footer">
        <ul class="footer_ul">
            <a href="../index.html">
                <img id="img" src="../storage/img/icon-graph.svg">
            </a>
            <a href="detail.html">
                <img src="../storage/img/creditcard-seleccion.svg">
            </a>
            <a href="checkout.html">
                <img id="img" src="../storage/img/money-bag-svgrepo-com.svg">
            </a>
        </ul>
    </footer>
</body>
</html>